@import "../../global.scss";

.contact-page {
  padding: 10rem 0;

  .wrapper {
    display: flex;
    gap: 5rem;
    margin-top: 7rem;
    justify-content: space-between;
    position: relative;

    .left {
      width: 100%;
      max-width: 500px;
    }

    .right {
      width: 100%;
      max-width: 500px;
    }
  }

  // vertical line styling
  .wrapper::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: $colorMain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include mobile {
    .wrapper {
      flex-direction: column;

      .left,
      .right {
        max-width: 100%;
      }

      .right {
        padding: 4rem 2rem 2rem 2rem;
        // background-color: red;
      }
    }

    .wrapper::after {
      display: none;
    }
  }
}
