@import "../../global.scss";

.hero-container {
  height: 100vh;
  min-height: 1000px;
  // width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  .hero-heading {
    font-size: 2rem;
    margin-bottom: -4rem;
    position: relative;

    span {
      display: inline-block;
      width: 100%;
    }

    .hero-name {
      font-size: 7rem;
      font-weight: 400;
      color: white;
    }
  }

  .hero-image {
    max-width: 900px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border: 2px solid $colorMain;
  }

  .hero-info {
    margin-top: -18rem;
  }

  .hero-social,
  .hero-scroll-down {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    bottom: 20px;
    width: 50px;
  }

  .hero-social {
    left: 0;

    ul {
      li {
        margin-bottom: 1rem;
      }

      a {
        display: inline-block;
        font-size: 1.6rem;
        color: $colorMain;
        transform: rotate(-90deg);
        letter-spacing: 5px;
        margin-bottom: 2rem;
      }
    }
  }

  .hero-scroll-down {
    right: 0;
  }

  .hero-social,
  .hero-scroll-down {
    width: 50px;

    p {
      font-size: 1.6rem;
      transform: translateY(-70px) rotate(90deg);
      letter-spacing: 0.7rem;
      text-transform: uppercase;
    }

    img {
      max-height: 45px;
      width: 16px;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  .hero-scroll-down {
    img {
      max-height: 70px;
    }
  }

  @include mobile {
    .hero-container {
      min-height: 750px;
    }

    .hero-heading {
      font-size: 1.4rem;
      margin-bottom: -3rem;

      .hero-name {
        font-size: 4.5rem;
      }
    }

    .hero-image {
      height: 300px;
    }

    .hero-info {
      margin-top: 3rem;
    }

    .hero-social {
      bottom: 5%;
      width: 20px;

      img {
        max-height: 22px;
      }

      p {
        font-size: 1.2rem;
      }

      ul {
        li {
          a {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 15px;
          }
        }
      }
    }

    .hero-scroll-down {
      width: 20px;
      gap: 1rem;

      p {
        font-size: 1.3rem;
      }
    }
  }
}
