@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  background-color: #282a35;
  color: #e7e9eb;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}
body {
  max-width: 1200px;
}
#header-nav li {
  border-bottom: solid 1px yellowgreen;
  margin: .1em;
}
a {
  font-weight: bold;
  color: #0066ff;
}
a:visited {
  color: #800080;
}

/*******************************************************************************************************/
/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 40em;
  padding: 1em;
  border-bottom: solid 1px yellowgreen;
  background-image: url(img/tudor-baciu-vc3iVL_znJ8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
header h1 {
  margin: 0;
  position: absolute;
  left: 0.4em;
  bottom: 0;
  z-index: 1;
}
#header-opacity {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
#header-nav {
  z-index: 1;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 18em;
}
#header-nav li {
  padding: 0.5em 3em;
}
nav a, nav a:visited, header h1 {
  color: #e7e9eb;
}

/*******************************************************************************************************/
/* Main */

main {
  padding: 1em;
}
main h2 {
  margin: 0;
  font-size: 3em;
}
#projects {
  margin-top: 5em;
  background-color: #2c2e3a;
  /* border: solid 1px yellowgreen; */
  border-radius: 1em;
  padding: 1em;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 13em;
  margin-top: 0.5em;
}
.project-img-title {
  background-color: black;
  opacity: 0.5;
  padding: 0.5em;
  border-top-right-radius: 0.4em;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.project-img-title a, .project-img-title a:visited {
  color: white;
}
.project-img-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
.project h3, .project a {
  padding: 0;
  margin: 0;
}
.project img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#about {
  background-color: #2c2e3a;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
#myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 5em 0;
  /* border: solid 1px red; */
  background-color: #282a35;
}
#myself-photo {
  display: none;
  margin: 0;
  border-radius: 1em;
}
#myself-photo {
  background-image: url(img/20210728_093328.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 20em;
  height: 20em;
}
#myself-bio h2 {
  text-align: center;
}
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  background-color: #2c2e3a;
}
#skills h3 {
  font-size: 2em;
  margin: 0 0 1em 0;
}
#skills span {
  display: flex;
  width: 15em;
  height: 10em;
  margin: 1em;
}
.skills-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* width: 10em; */
  z-index: 2;
}
#skills img {
  width: 100px;
}
.skills-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}
.skills-text h4 {
  font-size: 1.2em;
  margin-bottom: 0;
}
.skills-text p {
  margin: 0;
}

/*******************************************************************************************************/
/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 0;
  position: relative;
  border-top: solid 1px yellowgreen;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #21232c;
}
footer figure {
  background-image: url(img/20210731_201809.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 15em;
  width: 15em;
  border-radius: .5em;
}
#social-nav ul, #footer-nav ul {
  flex-direction: column;
  padding: 1em;
  margin: 0;
}
#social-nav li, #footer-nav li {
  padding: 1em 5em;
  border-bottom: dashed 1px yellowgreen;
}
#social-nav li:last-child, #footer-nav li:last-child {
  border: none;
}

/*******************************************************************************************************/
/* Interactivity */

li:hover {
  background-color: yellowgreen;
  /* box-shadow: inset 0 -2px 5px yellowgreen;
  clip-path: inset(0px -2px 0px 0px ); */
}
.project ::-webkit-scrollbar {
  width: 5px;
  height: 0;
}
/* .project ::-webkit-scrollbar-track-piece { */
  /* height: 300px; */
/* } */
  /* background-color: #800080; */
/* } */
.project ::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
  border-radius: 2px;
}
.project ::-webkit-scrollbar-thumb:hover {
  background-color: #7ba428;
}

/*******************************************************************************************************/
/* Media */

@media only screen and (min-width: 600px) {
  .project {
    height: 20em;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 2em;
  }
}
@media only screen and (min-width: 700px) {
  #header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .project {
    height: 25em;
  }
  .project h3 {
    font-size: 1.5em;
  }
  #skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #skills h3 {
    width: 100%;
  }
  #skills span {
    width: 18em;
  }
  footer {
    padding-right: 5em;
  }
}
@media only screen and (min-width: 760px) {
  .project {
    height: 30em;
  }
  #myself {
    flex-direction: row;
  }
}
@media only screen and (min-width: 910px) {
  header {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }
  .project {
    height: 35em;
  }
  .project h3 {
    font-size: 2em;
  }
  #myself {
    justify-content: space-around;
  }
  #myself-photo {
    display: block;
  }
  #myself h2 {
    text-align: left;
  }
  #myself-bio {
    width: 60%;
  }
  #skills {
    width: 55em;
    margin: auto;
    margin-top: 3em;
  }
  #footer-nav-group {
    display: flex;
    flex-direction: row;
  }
}