@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;

  &.active {
    right: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    margin-left: 20px;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;

    // fixes hover issue over 'testimonials hover
    width: 70%;

    li {
      margin-bottom: 25px;

      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    margin-left: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      a,
      span {
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
      }
      .icon {
        font-size: 24px;
        margin-right: 5px;
      }
    }
  }
}
