@import "../../global.scss";

.portfolioListItem {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $ColorMain;
    color: white;
  }
}
