@import "../../global.scss";

.topbar {
  position: fixed;
  top: 0;
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 70px;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    .left {
      display: flex;
      align-items: center;

      .itemContainer {
        a {
          display: flex;
          align-items: center;
          color: $mainColor;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .icon {
          font-size: 24px;
          margin-right: 5px;
        }
      }

      .logo {
        font-size: 40px;
        font-weight: 200;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 1s ease;
        }
      }
    }

    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 30px;

      @include mobile {
        display: none;
      }

      .icon {
        font-size: 18px;
        margin-right: 5px;
      }

      span {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .left {
      .itemContainer {
        a {
          color: white;
        }
      }
    }

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
