@import "../../global.scss";

.project-item {
  .project-item-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    display: inline-block;
    border: 3px solid $colorSec;

    img {
      height: 100%;
    }
  }

  .project-item-info {
    margin-top: 1rem;
    background-color: $colorDark;
    padding: 1rem;
    border-radius: 12px;

    a {
      color: $colorMain;
    }

    .project-item-title {
      font-size: 2.2rem;
      text-decoration: underline;
    }

    .project-item-desc {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }

  .project-item-tech {
    margin-top: 0.5rem;
    font-size: 1.2rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.3rem;

      li {
        padding: 0.5rem 1rem;
        background-color: $colorDark;
        border-radius: $small;
        border: solid 1px $colorDark;

        &:hover {
          border: solid 1px $colorMain;
        }
      }
    }
  }

  @include mobile {
    .project-section {
      background-color: red;
      // margin-top: 2rem;
    }

    .project-item-img {
      height: 350px;
    }
  }
}
