@import "../../global.scss";

////////////////////////////////////////////////////////////
// Styling for project-section
.project-section {
  .project-item {
    .project-item-img {
      width: 100%;
      height: 400px;
      overflow: hidden;
      border-radius: $medium;
      display: inline-block;
      border: 3px solid $colorSec;

      img {
        height: 100%;
      }
    }

    .project-item-info {
      margin-top: 1rem;
      background-color: $colorDark;
      padding: 1rem;
      border-radius: $medium;

      .project-item-title {
        font-size: 2.2rem;
        text-decoration: underline;
      }

      .project-item-desc {
        font-size: 1.6rem;
        margin-top: 1rem;
      }

      h4,
      .project-item-desc.hidden {
        display: none;
      }
    }

    .project-item-tech {
      margin-top: 0.5rem;
      font-size: 1.2rem;

      .links {
        display: none;
      }

      ul {
        display: none;
      }
    }

    @include mobile {
      .project-section {
        background-color: red;
        // margin-top: 2rem;
      }

      .project-item-img {
        height: 350px;
      }
    }
  }
}

////////////////////////////////////////////////////////////
// styling for project-page
.projects {
  .project-item {
    display: flex;
    font-size: 2rem;
    margin: 10rem 0;

    .project-item-img img {
      border: solid 3px $colorSec;
      border-radius: $medium;
      overflow: hidden;
      max-height: 50rem;
      width: 40rem;
      cursor: default;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 1rem;

      .project-item-info {
        // border-radius: $medium;
        // background-color: $colorDark;
        // padding: 1rem;
        font-weight: 300;
        font-size: 1.7rem;

        h3 {
          text-decoration: underline;
          font-size: 3rem;
          font-weight: 300;
        }

        h4 {
          padding-top: 1rem;
          font-weight: 300;
          font-size: 2.2rem;
        }

        p {
          margin-bottom: 0.5rem;
        }
      }

      .project-item-tech {
        margin-top: 2rem;

        .links {
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 2rem;
            margin-bottom: 0.5rem;
            text-decoration: underline;
            font-weight: 300;

            .icon {
              height: 2rem;
              width: 2rem;
              margin-right: 0.5rem;
            }
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 0.3rem;

          li {
            padding: 0.2rem 1rem;
            background-color: $colorDark;
            border-radius: $small;
            border: solid 1px $colorDark;
            font-size: 1.4rem;

            &:hover {
              border: solid 1px $colorMain;
            }
          }
        }
      }
    }
  }

  @include tablet {
    .project-item {
      // background-color: red;
      .project-item-img img {
        // border: solid 3px red;
        width: 30rem;
      }

      .project-item-tech {
        li {
          font-size: 1.4rem;
        }
      }
    }
  }

  @include mobile {
    .project-item {
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      .project-item-img {
        width: 100%;
        // background-color: red;

        img {
          width: 100%;
        }
      }

      .content {
        padding-left: 0;
        margin-top: 0.5rem;

        .project-item-info {
          a {
            margin: 0;
          }
        }

        .project-item-tech {
          margin-top: 0.5rem;

          .links {
            flex-direction: column;
            align-items: flex-start;
          }

          li {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
