@import "../../global.scss";

.project-page {
  padding: 10rem 0;

  .top {
    .search-bar {
      position: relative;
      width: 300px;
      margin-top: 5rem;

      input {
        width: 100%;
        font-size: 2rem;
        padding: 0.8rem;
        color: $backgroundMain;
        border: none;
        border-radius: 6px;
        outline: none;
      }

      .icon {
        position: absolute;
        width: 2rem;
        right: 1rem;
      }

      // changing SVG color
      .icon path {
        color: $colorDark;
      }
    }
  }

  @include mobile {
    .top {
      .search-bar,
      .search-bar input {
        width: 100%;
      }
    }
  }
}
