@import "../../global.scss";

.intro {
  width: 100%;
  background-color: white;
  display: flex;
  color: $mainColor;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    margin: auto 0;

    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      overflow: hidden;

      @include mobile {
        align-items: flex-start;
      }

      .icon {
        color: black;
        font-size: 500px;
        transform: scale(200%) translateY(30%);

        @include mobile {
          height: 50%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;

      @include mobile {
        padding-top: 40px;
        padding-left: 0;
        align-items: center;
        justify-content: flex-start;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0 10px 5px;

        @include mobile {
          font-size: 40px;
        }
      }

      h2 {
        font-size: 35px;
      }

      .Typewriter {
        font-size: 30px;
        font-weight: 500;
        color: crimson;

        @include mobile {
          font-size: 20px;
        }
      }
    }

    a {
      position: absolute;
      bottom: 80px;
      left: 20%;
      padding: 10px;

      @include mobile {
        bottom: 100px;
        left: 40%;
      }

      .mouse-scroll {
        width: 40px;
        height: 40px;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
