@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
      }

      .icon {
        font-size: 500px;

        @include mobile {
          height: 50%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }

      h2 {
        font-size: 35px;
      }

      .Typewriter {
        font-size: 30px;
        font-weight: 500;
        color: crimson;

        @include mobile {
          font-size: 20px;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      .icon {
        font-size: 60px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
