@import "../../global.scss";

.about-section {
  padding: 10rem 0;

  .p-text-component {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
  }

  .about-section-buttons {
    width: 80%;
    margin: 0 auto;

    a {
      margin-right: 1rem;
    }
  }
}

.education {
  h2 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
  }
}

.skills {
  margin-top: 7rem;

  h2 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
  }
}

@include mobile {
  padding: 0;

  .about-section-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .education,
  .skills {
    h2 {
      font-size: 2.5rem;
    }
  }
}
