.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-style: 50px;
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.left,
          &.right {
            height: 25px;
          }

          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
          }
        }
      }

      .center {
        padding: 10px;
        background-color: rgb(238, 217, 222);
        border-radius: 10px;
      }

      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h3 {
          padding: 5px;
        }

        h4 {
          color: gray;
        }
      }
    }
  }
}
