@import "./global.scss";

.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;

    // part of snap-scroll
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    // disables mobile scrool snap
    @include mobile {
      scroll-snap-type: none;
    }

    /* all child elements */
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      // part of snap-scroll
      scroll-snap-align: start;
    }
  }
}
