// color variables
$backgroundMain: #262626;
$colorMain: #bcb4b4;
$colorSec: #363636;
$colorDark: #1e1e1e;

// styling
$small: 5px;
$medium: 10px;

// media query
$mobile: 768px;
$tablet: 1000px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

// default styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $backgroundMain;
  color: $colorMain;
  font-size: 10px;
  font-family: "Roboto";
  // smooth scroll effect
  scroll-behavior: smooth;
}

.temp {
  min-height: 40vh;
  padding: 30rem;
  font-size: 5rem;
  text-align: center;

  @include mobile {
    padding: 20rem 0;
  }
}

article {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $colorMain;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
}

footer {
  width: 100%;
}
