@import "../../global.scss";

.about {
  background-color: white;
  color: $mainColor;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;

  @include mobile {
    align-items: center;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 60px;

    @include mobile {
      font-size: 35px;
    }
  }

  p {
    margin: 15px 0;
    font-size: 18px;

    @include mobile {
      font-size: 15px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.2;

    li {
      padding: 10px 20px;

      img {
        width: 50px;
        height: 50px;

        @include mobile {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
