@import "../../global.scss";
.product {
  color: $mainColor;
  width: 800px;
  height: 100%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  .browser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 20px;
    padding: 0 3px;
    position: sticky;
    z-index: 1;

    .text {
      p {
        font-size: 10px;
        margin-left: 10px;
      }
    }

    .wrapper {
      display: flex;

      .circle {
        background-color: lightblue;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        margin: 3px;
      }
    }
  }

  img {
    width: 100%;
    transition: all 5s ease;

    &:hover {
      transform: translateY(-60%);
    }
  }
}
