@import "../../global.scss";

.portfolio {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h2 {
    position: absolute;
    top: 10px;
    color: $mainColor;
    font-size: 60px;

    @include mobile {
      font-size: 35px;
    }
  }

  .slider {
    max-height: 600px;
    padding-top: 80px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;

    @include mobile {
      flex-direction: column;
      height: calc(100vh - 70px);
    }

    .container {
      width: 100vw;
      display: flex;
      justify-content: center;

      .product {
        @include mobile {
          width: 80%;
          height: 140px;
          margin: 10px 0;
        }
      }
    }
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotate(180deg);
    }

    &.right {
      right: 100px;
    }
  }
}
