@import "../../global.scss";

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h2 {
    position: absolute;
    top: 15px;
    color: $colorMain;
    font-size: 60px;

    @include mobile {
      font-size: 35px;
    }
  }
}
.slider {
  max-height: 600px;
  padding-top: 80px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;

  @include mobile {
    height: calc(100vh - 70px);
  }

  .container {
    width: 100vw;
    display: flex;
    justify-content: center;

    .product {
      @include mobile {
        width: 90%;
        height: 450px;
      }
    }
  }
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  height: 400px;
  width: 150px;

  @include mobile {
    width: 100px;
  }

  img {
    width: 50%;
    height: 50%;

    @include mobile {
      width: 70%;
    }

    &.right {
      transform: rotate(180deg);
    }
  }
}

.arrow-wrapper-left {
  left: 0;
}
.arrow-wrapper-right {
  right: 0;
}
